/* For larger screen

header {
  display: flex;
  flex-direction: row;
  margin:5%
} */

*{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: aqua;
}

h1 {
  margin-left: 5px;
}

ul {
  display: flex;
  flex-direction: row;

  list-style: none;
  padding: 5px;
}

li {
  padding: 5px;
  flex-grow: 1;
}